<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinemakiosk.mapper.CouponMapper">

    <resultMap id="couponVO" type="com.example.cinemakiosk.vo.CouponVO" autoMapping="true">
        <id property="couponNum" column="coupon_num"/>
        <association property="discountPolicy"
                     resultMap="com.example.cinemakiosk.mapper.DiscountPolicyMapper.discountVO"
                     columnPrefix="dp_"
        />
    </resultMap>

    <select id="selectOneByNum" resultMap="couponVO">
        select cp.coupon_num,
               cp.status,
               cp.policy_id,

               dp.id             as dp_id,
               dp.activation     as dp_activation,
               dp.condition_type as dp_condition_type,
               dp.discount_type  as dp_discount_type,
               dp.discount_value as dp_discount_value,
               dp.end_at         as dp_end_at,
               dp.policy_name    as dp_policy_name,
               dp.start_at       as dp_start_at

        from cinema_kiosk.coupon cp
                 inner join cinema_kiosk.discount_policy dp on cp.policy_id = dp.id

        where cp.coupon_num = #{num}
    </select>

    <resultMap id="CouponResultMap" type="com.example.cinemakiosk.vo.CouponVO">
        <id property="couponNum" column="coupon_num"/>
        <result property="policyId" column="policy_id"/>
        <result property="status" column="status"/>
        <association property="discountPolicy" javaType="com.example.cinemakiosk.vo.DiscountPolicyVO">
            <id property="id" column="id"/>
            <result property="activation" column="activation"/>
            <result property="conditionType" column="condition_type"/>
            <result property="discountType" column="discount_type"/>
            <result property="discountValue" column="discount_value"/>
            <result property="endAt" column="end_at"/>
            <result property="policyName" column="policy_name"/>
            <result property="startAt" column="start_at"/>
        </association>
    </resultMap>
    <select id="checkCoupon" resultMap="CouponResultMap">
        SELECT * FROM discount_policy DP
                          JOIN coupon C ON DP.id = C.policy_id WHERE coupon_num = #{couponNum}
    </select>

    <resultMap id="couponByDiscountPolicy" type="com.example.cinemakiosk.vo.CouponVO">
        <id property="couponNum" column="coupon_num"/>
        <result property="status" column="status"/>
        <result property="policyId" column="policy_id"/>
        <association property="discountPolicy" javaType="com.example.cinemakiosk.vo.DiscountPolicyVO">
            <id property="id" column="id"/>
            <result property="startAt" column="start_at"/>
            <result property="endAt" column="end_at"/>
            <result property="policyName" column="policy_name"/>
        </association>
    </resultMap>

    <select id="selectAllCouponByDiscount" resultMap="couponByDiscountPolicy">
        SELECT C.*, DP.start_at, DP.end_at, DP.policy_name, DP.condition_type FROM coupon C
        LEFT JOIN discount_policy DP ON C.policy_id = DP.id
        WHERE DP.condition_type = 'COUPON'
        LIMIT 10 OFFSET #{page};
    </select>
</mapper>