<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinemakiosk.mapper.MovieMapper">
    <select id="selectOneById" resultMap="movieVO">
        select * from cinema_kiosk.movie where movie_id = #{no};
    </select>

    <select id="selectAll" resultMap="movieVO">
        select * from cinema_kiosk.movie;
    </select>

    <resultMap id="movieVO" type="com.example.cinemakiosk.vo.MovieVO" autoMapping="true">
        <id property="movieId" column="movie_id"/>
    </resultMap>


</mapper>