<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinemakiosk.mapper.ReservationDetailsMapper">

    <resultMap id="reservationVO" type="com.example.cinemakiosk.vo.ReservationDetailsVO" autoMapping="true">
        <id property="id" column="id"/>
        <association property="schedule"
                     resultMap="com.example.cinemakiosk.mapper.ScheduleMapper.scheduleVO"
                     columnPrefix="sc_"
        />
        <association property="phone"
                     resultMap="com.example.cinemakiosk.mapper.MemberMapper.MemberVO"
                     columnPrefix="mb_"
        />
        <collection property="seats"
                    resultMap="com.example.cinemakiosk.mapper.ReservationSeatMapper.seatListVO"
                    columnPrefix="st_"
        />
    </resultMap>

    <select id="selectOneById" resultMap="reservationVO">
        <include refid="sql_selectAll"/>
        where rd.id = #{no};
    </select>

    <select id="selectAll" resultMap="reservationVO">
        <include refid="sql_selectAll"/>
    </select>

    <select id="selectAllByMovieId" resultMap="reservationVO">
        <include refid="sql_selectAll"/>
        where sc.movie_id = #{movieId}
    </select>

    <sql id="sql_selectAll">
        select rd.id,
               rd.create_at,
               rd.returned,
               rd.phone,
               rd.schedule_id,

               sc.id             as sc_id,
               sc.movie_id       as sc_movie_id,
               sc.no             as sc_no,
               sc.start_at       as sc_start_at,
               sc.end_at         as sc_end_at,

               mv.movie_id       as sc_mv_movie_id,
               mv.title          as sc_mv_title,
               mv.runtime        as sc_mv_runtime,
               mv.actors         as sc_mv_actors,
               mv.director       as sc_mv_director,
               mv.rating         as sc_mv_rating,
               mv.genre          as sc_mv_genre,
               mv.description    as sc_mv_description,
               mv.create_at      as sc_mv_create_at,
               mv.start_at       as sc_mv_start_at,
               mv.end_at         as sc_mv_end_at,

               th.no             as sc_th_no,
               th.policy_id      as sc_th_policy_id,
               th.cleanup_time   as sc_th_cleanup_time,

               sp.policy_id      as sc_th_sp_policy_id,
               sp.name           as sc_th_sp_name,
               sp.cost           as sc_th_sp_cost,


               mb.phone          as mb_phone,
               mb.create_at      as mb_create_at,
               mb.point          as mb_point,


               st.id             as st_id,
               st.reservation_id as st_reservation_id,
               st.seat_number    as st_seat_number

        from cinema_kiosk.reservation_details rd
                 inner join cinema_kiosk.schedule sc on rd.schedule_id = sc.id
                 INNER JOIN cinema_kiosk.movie mv ON sc.movie_id = mv.movie_id
                 INNER JOIN cinema_kiosk.theater th ON sc.no = th.no
                 INNER JOIN cinema_kiosk.seat_policy sp ON th.policy_id = sp.policy_id
                 left join cinema_kiosk.member mb on rd.phone = mb.phone
                 inner join cinema_kiosk.reservation_seat st on rd.id = st.reservation_id
    </sql>

</mapper>