<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinemakiosk.mapper.ReservationSeatMapper">

    <insert id="insertSeats">
        insert into reservation_seat (seat_number, reservation_id)
        values
            <foreach collection="seats" separator="," item="seat">
                (#{seat.seatNumber}, #{id})
            </foreach>
        ;
    </insert>

    <resultMap id="seatListVO" type="com.example.cinemakiosk.vo.ReservationSeatVO" autoMapping="true">
        <id property="id" column="id"/>
        <result property="reservationDetailsId" column="reservation_id"/>
    </resultMap>

    <select id="selectAllById" resultMap="seatListVO">
        select
            st.id,
            st.reservation_id,
            st.seat_number
        from cinema_kiosk.reservation_seat st
        where reservation_id = #{no}
    </select>

    <select id="selectAllSeatByScheduleId" resultType="java.lang.String">
        select rs.seat_number
        from cinema_kiosk.schedule sc
                 inner join cinema_kiosk.reservation_details rd on sc.id = rd.schedule_id
                 inner join cinema_kiosk.reservation_seat rs on rd.id = rs.reservation_id
        where sc.id = #{scheduleId};
    </select>


</mapper>