<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinemakiosk.mapper.SeatPolicyMapper">
    <select id="selectOneById" resultMap="seatPolicyVO">
        select * from cinema_kiosk.seat_policy where policy_id = #{no};
    </select>

    <select id="selectAll" resultMap="seatPolicyVO">
        select * from cinema_kiosk.seat_policy
    </select>

    <resultMap id="seatPolicyVO" type="com.example.cinemakiosk.vo.SeatPolicyVO" autoMapping="true">
        <id property="policyId" column="policy_id"/>
    </resultMap>




</mapper>